.container,
.heading3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  padding: var(--padding-0) var(--padding-17);
  gap: var(--gap-8);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--fs-24);
  color: var(--color-gray-400);
  font-family: var(--font-fraunces);
}
.heading3 {
  align-self: stretch;
}
.videoConversations {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-32);
  font-weight: 600;
  font-family: inherit;
}
.container2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-16);
  color: var(--color-darkslategray-100);
  font-family: var(--font-plus-jakarta-sans);
}
.faceToFaceConnectionFor {
  position: relative;
  line-height: var(--lh-30);
}
.link {
  display: flex;
  align-items: center;
  padding: var(--padding-7_5) var(--padding-0) var(--padding-0);
  gap: var(--gap-4);
  font-size: var(--fs-14);
  font-family: var(--font-inter);
}
.bookSession {
  position: relative;
  letter-spacing: var(--ls-0_14);
  line-height: var(--lh-20);
  font-weight: 600;
  background: var(--color-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-);
  height: var(--height-);
}
.icon {
  width: var(--width-9_3);
  height: var(--height-9_3);
  position: relative;
}
@media screen and (max-width: 450px) {
  .videoConversations {
    font-size: var(--fs-19);
    line-height: var(--lh-26);
  }
}
