@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,600;0,700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-darkgray: #a0a0a0;
  --color-darkslateblue: #513392;
  --color-darkslategray-100: #3e3e3e;
  --color-darkslategray-200: #2e303a;
  --color-dimgray: #494551;
  --color-gainsboro-100: #eae7e7;
  --color-gainsboro-200: #e6e6e6;
  --color-gainsboro-300: rgba(230, 230, 230, 0.3);
  --color-ghostwhite-100: #fcfaff;
  --color-ghostwhite-200: #f9f6ff;
  --color-gray-100: #808080;
  --color-gray-200: #1c1b1b;
  --color-gray-300: #161d1f;
  --color-gray-400: #0c0b0b;
  --color-gray-500: rgba(0, 0, 0, 0.5);
  --color-gray-600: rgba(255, 255, 255, 0.1);
  --color-gray-700: rgba(255, 255, 255, 0);
  --color-gray-800: rgba(255, 255, 255, 0.3);
  --color-lavender-100: #e9ddff;
  --color-lavender-200: #e8e1f5;
  --color-lavender-300: #e8e0f5;
  --color-lavender-400: rgba(234, 229, 246, 0.73);
  --color-mediumpurple-100: #9979de;
  --color-mediumpurple-200: #8c6bd6;
  --color-mediumpurple-300: #805ec4;
  --color-mediumpurple-400: rgba(133, 102, 204, 0.2);
  --color-mediumpurple-500: rgba(183, 153, 255, 0.2);
  --color-mediumpurple-600: rgba(161, 126, 244, 0.37);
  --color-midnightblue: #23005b;
  --color-plum-100: #b59ae7;
  --color-plum-200: rgba(196, 168, 255, 0.5);
  --color-slateblue-100: #7352bd;
  --color-slateblue-200: #694cac;
  --color-thistle-100: #deccff;
  --color-thistle-200: #d8cef0;
  --color-white: #fff;
  --color-whitesmoke: #f2f2f2;
  --grey: #504d55;

  /* Gap */
  --gap-1: 1px;
  --gap-4: 4px;
  --gap-8: 8px;
  --gap-9: 9px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-15: 15px;
  --gap-16: 16px;
  --gap-17: 17px;
  --gap-18: 18px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-23: 23px;
  --gap-24: 24px;
  --gap-26: 26px;
  --gap-28: 28px;
  --gap-32: 32px;
  --gap-36: 36px;
  --gap-40: 40px;
  --gap-48: 48px;
  --gap-68: 68px;

  /* Padding */
  --padding-0: 0px;
  --padding-1: 1px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-8: 8px;
  --padding-9: 9px;
  --padding-10: 10px;
  --padding-12: 12px;
  --padding-13: 13px;
  --padding-14: 14px;
  --padding-15: 15px;
  --padding-16: 16px;
  --padding-17: 17px;
  --padding-18: 18px;
  --padding-19: 19px;
  --padding-20: 20px;
  --padding-21: 21px;
  --padding-22: 22px;
  --padding-23: 23px;
  --padding-24: 24px;
  --padding-25: 25px;
  --padding-26: 26px;
  --padding-28: 28px;
  --padding-29: 29px;
  --padding-30: 30px;
  --padding-32: 32px;
  --padding-36: 36px;
  --padding-38: 38px;
  --padding-40: 40px;
  --padding-62: 62px;
  --padding-72: 72px;
  --padding-80: 80px;
  --padding-24_9: 24.9px;
  --padding-25_4: 25.4px;
  --padding-7_5: 7.5px;

  /* BorderRadius */
  --br-0: 0px;
  --br-10: 10px;
  --br-18: 18px;
  --br-20: 20px;
  --br-21: 21px;
  --br-22: 22px;
  --br-24: 24px;
  --br-30: 30px;
  --br-40: 40px;
  --br-45: 45px;
  --br-50: 50%;
  --br-7575: 7575px;
  --br-9999: 9999px;

  /* Font */
  --font-faustina: Faustina;
  --font-fraunces: Fraunces;
  --font-inter: Inter;
  --font-inter-tight: Inter Tight;
  --font-playfair-display: Playfair Display;
  --font-plus-jakarta-sans: Plus Jakarta Sans;

  /* FontSize */
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-29: 29px;
  --fs-32: 32px;
  --fs-38: 38px;
  --fs-48: 48px;
  --fs-25_9: 25.9px;

  /* Borders */
  --border-1: 1px solid var(--color-white);
  --border-2: 1px solid var(--color-thistle-100);
  --border-3: 1px solid transparent;
  --border-11: 1px solid var(--color-lavender-200);
  --border-21: 0.9px solid var(--color-slateblue-200);

  /* Shadows */
  --shadow-drop: 8px 8px 20px rgba(45, 52, 54, 0.1);
  --shadow-drop-1:
    0px 20.8px 25.9px -5.19px rgba(0, 0, 0, 0.1),
    0px 8.3px 30px -6.23px rgba(81, 51, 146, 0.3);
  --shadow-drop-2: 0px 8px 20px rgba(164, 135, 217, 0.5);
  --shadow-drop-3:
    0px 15.2px 18.9px -3.79px rgba(0, 0, 0, 0.1),
    0px 6.1px 7.6px -4.55px rgba(0, 0, 0, 0.1);
  --shadow-drop-4: 0px 4px 10px rgba(139, 109, 202, 0.2);

  /* Gradients */
  --color-1: linear-gradient(107.04deg, #b799ff, var(--color-slateblue-200));
  --gradient-1: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--color-black));
  --gradient-2: linear-gradient(
    184.03deg,
    rgba(0, 0, 0, 0),
    var(--color-black)
  );
  --gradient-3: linear-gradient(111.27deg, #7d56d2, #3b2076);
  --gradient-4:
    #fbf9ff padding-box,
    linear-gradient(107.04deg, #b799ff, var(--color-slateblue-200)) border-box;
  --gradient-5:
    #f8f5ff padding-box, linear-gradient(180deg, #a98cf1, #dccdfd) border-box;
  --gradient-6: linear-gradient(270deg, rgba(240, 236, 249, 0), #ede7f9);
  --gradient-7: linear-gradient(270deg, rgba(240, 236, 249, 0), #efeaf9);
  --gradient-8: linear-gradient(142.97deg, #faf7ff, #cdc0e9);
  --gradient-9: linear-gradient(90deg, #29125c, #6b48b7);

  /* WidthHeights */
  --height-4: 4px;
  --height-17: 17px;
  --height-18: 18px;
  --height-20: 20px;
  --height-22: 22px;
  --height-24: 24px;
  --height-26: 26px;
  --height-32: 32px;
  --height-33: 33px;
  --height-38: 38px;
  --height-42: 42px;
  --height-48: 48px;
  --height-59: 59px;
  --height-60: 60px;
  --height-61: 61px;
  --height-64: 64px;
  --height-77: 77px;
  --height-79: 79px;
  --height-129: 129px;
  --height-230: 230px;
  --height-314: 314px;
  --height-414: 414px;
  --height-424: 424px;
  --height-555: 555px;
  --height-: px;
  --height-9_3: 9.3px;
  --max-w-64: 64px;
  --width-14: 14px;
  --width-19: 19px;
  --width-20: 20px;
  --width-22: 22px;
  --width-24: 24px;
  --width-26: 26px;
  --width-32: 32px;
  --width-42: 42px;
  --width-48: 48px;
  --width-59: 59px;
  --width-61: 61px;
  --width-64: 64px;
  --width-104: 104px;
  --width-148: 148px;
  --width-183: 183px;
  --width-221: 221px;
  --width-227: 227px;
  --width-254: 254px;
  --width-267: 267px;
  --width-281: 281px;
  --width-316: 316px;
  --width-364: 364px;
  --width-370: 370px;
  --width-392: 392px;
  --width-433: 433px;
  --width-439: 439px;
  --width-498: 498px;
  --width-573: 573px;
  --width-1447: 1447px;
  --width-: px;
  --width-266_7: 266.7px;
  --width-362_7: 362.7px;
  --width-369_3: 369.3px;
  --width-392_8: 392.8px;
  --width-433_6: 433.6px;
  --width-9_3: 9.3px;

  /* LineHeights */
  --lh-16: 16px;
  --lh-19: 19px;
  --lh-20: 20px;
  --lh-24: 24px;
  --lh-26: 26px;
  --lh-28: 28px;
  --lh-30: 30px;
  --lh-32: 32px;
  --lh-33: 33px;
  --lh-34: 34px;
  --lh-40: 40px;
  --lh-45: 45px;
  --lh-56: 56px;
  --lh-41_5: 41.5px;

  /* LetterSpacings */
  --ls-0_14: 0.14px;
  --ls-1_56: 1.56px;

  --left-0: 0px;
  --left-5: 5px;
  --top-0: 0px;
  --top-28: 28px;
  --top--71: -71px;
}
