.frameWrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-14) var(--padding-62)
    var(--padding-10);
  box-sizing: border-box;
  flex-shrink: 0;
}
.bannerHeaderWrapper,
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-22);
}
.bannerHeaderWrapper {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
}
.bannerHeader,
.navigation {
  display: flex;
  align-items: center;
}
.bannerHeader {
  flex: 1;
  backdrop-filter: blur(4px);
  border-radius: var(--br-10);
  background-color: var(--color-gray-800);
  flex-direction: column;
  max-width: 100%;
}
.navigation {
  margin: 0;
  padding: var(--padding-0) var(--padding-20);
  gap: 219px;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-gray-300);
  font-family: var(--font-plus-jakarta-sans);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-32);
  font-family: var(--font-playfair-display);
}
.saathy {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 41.6px;
  font-weight: 600;
  font-family: inherit;
}
.linkParent {
  display: flex;
  align-items: center;
  gap: var(--gap-48);
}
.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about,
.service {
  position: relative;
  line-height: var(--lh-20);
}
.service {
  font-weight: 500;
}
.frameGroup {
  display: flex;
  align-items: center;
  gap: 21px;
}
.button,
.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 18.5px var(--padding-16) 19.5px;
  background-color: transparent;
  height: 44px;
  width: 136px;
  border-radius: var(--br-9999);
  background: var(--color-1);
  flex-direction: column;
  box-sizing: border-box;
}
.getStarted {
  position: relative;
  font-size: var(--fs-18);
  line-height: var(--lh-30);
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-white);
  text-align: center;
  flex-shrink: 0;
}
.bannerBgIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
@media screen and (max-width: 1350px) {
  .navigation {
    gap: 109px;
  }
}
@media screen and (max-width: 800px) {
  .frameWrapper {
    padding-bottom: var(--padding-40);
    box-sizing: border-box;
  }
  .navigation {
    gap: 55px;
  }
  .linkParent {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .frameWrapper {
    padding-bottom: var(--padding-26);
    box-sizing: border-box;
  }
  .navigation {
    gap: 27px;
  }
  .linkParent {
    gap: var(--gap-24);
  }
}
