.frameWrapper {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-0) var(--padding-28) var(--padding-62)
    var(--padding-20);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-48);
  color: var(--color-gray-400);
  font-family: var(--font-faustina);
}
.frameContainer,
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 100%;
  max-width: 1148px;
  flex-direction: column;
  gap: 52px;
  margin: 0 auto;
}
.frameContainer {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-8);
  box-sizing: border-box;
}
.yourSafetyIsOurSoulWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.yourSafetyIsContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.safety,
.your,
.yourSafetyIsContainer {
  line-height: var(--lh-56);
}
.safety {
  background: var(--color-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.thSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  text-align: center;
  font-size: var(--fs-24);
  font-family: var(--font-fraunces);
}
.frameGroup,
.thSectionInner {
  display: flex;
  align-items: flex-start;
}
.thSectionInner {
  width: 100%;
  height: 197px;
  border-radius: var(--br-40);
  background: var(--gradient-4);
  overflow: hidden;
  flex-shrink: 0;
  padding: 46px var(--padding-72) 39px;
  box-sizing: border-box;
  max-width: 100%;
}
.frameGroup {
  gap: 96px;
}
.heading4,
.heading4Parent {
  display: flex;
  flex-direction: column;
}
.heading4Parent {
  width: var(--width-266_7);
  align-items: flex-start;
  gap: var(--gap-10);
}
.heading4 {
  align-self: stretch;
  align-items: center;
}
.anonymous {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-20);
  font-weight: 600;
  font-family: inherit;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-16);
  color: var(--color-dimgray);
  font-family: var(--font-plus-jakarta-sans);
}
.youNeverHave {
  position: relative;
  line-height: var(--lh-24);
  flex-shrink: 0;
}
.heading5Parent {
  width: var(--width-266_7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
}
.consentBasedMemory {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-20);
  font-weight: 600;
  font-family: inherit;
  flex-shrink: 0;
}
.heading5Group {
  width: var(--width-266_7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-16);
}
@media screen and (max-width: 1125px) {
  .thSectionInner {
    height: auto;
    padding-left: var(--padding-36);
    padding-right: var(--padding-36);
    box-sizing: border-box;
  }
  .frameGroup {
    gap: var(--gap-48);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    gap: var(--gap-26);
  }
  .yourSafetyIsContainer {
    font-size: var(--fs-38);
    line-height: var(--lh-45);
  }
  .thSection {
    gap: var(--gap-17);
  }
  .frameGroup {
    gap: var(--gap-24);
  }
}
@media screen and (max-width: 450px) {
  .frameWrapper {
    padding-bottom: var(--padding-40);
    box-sizing: border-box;
  }
  .yourSafetyIsContainer {
    font-size: var(--fs-29);
    line-height: var(--lh-34);
  }
  .anonymous,
  .consentBasedMemory {
    font-size: var(--fs-19);
    line-height: var(--lh-16);
  }
}
