.frameWrapper {
  height: var(--height-230);
  width: var(--width-267);
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-20);
  background-color: var(--color-ghostwhite-100);
  border: var(--border-2);
  box-sizing: border-box;
  align-items: flex-start;
  padding: var(--padding-20);
  text-align: center;
  font-size: var(--fs-20);
  color: var(--color-gray-400);
  font-family: var(--font-fraunces);
}
.frameParent,
.frameWrapper,
.iconWrapper {
  display: flex;
  flex-direction: column;
}
.frameParent {
  width: var(--width-221);
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-23);
}
.iconWrapper {
  width: var(--width-59);
  height: var(--height-59);
  border-radius: var(--br-45);
  background-color: var(--color-plum-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-29) var(--padding-15) var(--padding-21)
    var(--padding-18);
  box-sizing: border-box;
}
.icon {
  width: var(--width-26);
  height: 23px;
  position: relative;
  flex-shrink: 0;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4);
}
.journalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.journal {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-32);
  font-weight: 400;
  font-family: inherit;
}
.aSanctuaryFor {
  width: var(--width-227);
  position: relative;
  font-size: var(--fs-16);
  line-height: var(--lh-24);
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (max-width: 450px) {
  .journal {
    font-size: var(--fs-16);
    line-height: var(--lh-26);
  }
}
