.frameWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 175px;
  box-sizing: border-box;
  max-width: 101%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-48);
  color: var(--color-gray-400);
  font-family: var(--font-fraunces);
}
.frameContainer {
  height: 625px;
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}
.frameChild,
.rectangleParent {
  width: var(--width-1447);
  background: var(--gradient-8);
  flex-shrink: 0;
}
.rectangleParent {
  display: flex;
  align-items: flex-start;
  padding: 130px 118px var(--padding-23);
  box-sizing: border-box;
}
.frameChild {
  height: 693px;
  position: relative;
  display: none;
  max-width: 100%;
}
.thSection,
.thSection2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.thSection {
  align-self: stretch;
  gap: 46px;
  flex-shrink: 0;
}
.thSection2 {
  flex-direction: column;
  justify-content: center;
  min-width: 461px;
}
.generalQuestionsAskedByUseWrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.generalQuestionsAskedContainer {
  margin: 0;
  width: var(--width-439);
  position: relative;
  font-size: inherit;
  line-height: var(--lh-56);
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.generalQuestionsAskedContainer2 {
  width: 100%;
}
.general,
.questions {
  line-height: var(--lh-56);
}
.questions {
  background: var(--color-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frameDiv,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent {
  height: 540px;
  overflow-y: auto;
  gap: var(--gap-24);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-white);
  font-family: var(--font-plus-jakarta-sans);
}
.frameDiv {
  align-self: stretch;
  height: var(--height-79);
  border-radius: var(--br-20);
  background: var(--gradient-9);
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-13) var(--padding-22) var(--padding-12)
    var(--padding-38);
  box-sizing: border-box;
}
.whatIsSaathyParent {
  width: var(--width-573);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-20);
}
.whatIsSaathy {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-30);
  font-weight: 400;
  font-family: inherit;
}
.weuiarrowFilledIcon {
  height: var(--height-38);
  width: var(--width-19);
  position: relative;
}
.frameWrapper3 {
  align-self: stretch;
  height: var(--height-79);
  border-radius: var(--br-20);
  background: var(--gradient-9);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-17) var(--padding-22) var(--padding-17)
    var(--padding-38);
  box-sizing: border-box;
}
.whatsTheDifferenceBetweenParent {
  width: var(--width-573);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-1);
  flex-shrink: 0;
}
.canSaathySpeak,
.whatsTheDifference {
  position: relative;
  line-height: var(--lh-30);
}
.whatsTheDifference {
  width: 553px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.canSaathySpeak {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: pre-wrap;
}
@media screen and (max-width: 1350px) {
  .frameContainer {
    height: auto;
  }
  .rectangleParent {
    padding-left: 59px;
    padding-right: 59px;
    box-sizing: border-box;
  }
  .thSection {
    flex-wrap: wrap;
  }
  .frameParent,
  .thSection2 {
    flex: 1;
  }
}
@media screen and (max-width: 1125px) {
  .frameParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .frameWrapper {
    padding-bottom: 114px;
    box-sizing: border-box;
  }
  .rectangleParent {
    padding: 84px var(--padding-29) var(--padding-20);
    box-sizing: border-box;
  }
  .thSection {
    gap: var(--gap-23);
  }
  .thSection2 {
    min-width: 100%;
  }
  .generalQuestionsAskedContainer {
    font-size: var(--fs-38);
    line-height: var(--lh-45);
  }
}
@media screen and (max-width: 450px) {
  .frameWrapper {
    padding-bottom: 74px;
    box-sizing: border-box;
  }
  .generalQuestionsAskedContainer {
    font-size: var(--fs-29);
    line-height: var(--lh-34);
  }
  .canSaathySpeak,
  .whatIsSaathy,
  .whatsTheDifference {
    font-size: var(--fs-16);
    line-height: var(--lh-24);
  }
}
