.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameWrapper {
  height: var(--height-230);
  width: var(--width-267);
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-20);
  background-color: var(--color-ghostwhite-100);
  border: var(--border-2);
  box-sizing: border-box;
  padding: var(--padding-18) var(--padding-19);
  text-align: center;
  font-size: var(--fs-20);
  color: var(--color-gray-400);
  font-family: var(--font-fraunces);
}
.frameParent {
  width: var(--width-227);
  justify-content: flex-end;
  gap: var(--gap-23);
}
.container,
.containerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerWrapper {
  width: var(--width-59);
  height: var(--height-59);
  border-radius: var(--br-45);
  background-color: var(--color-plum-100);
  justify-content: center;
  padding: var(--padding-23) var(--padding-14) var(--padding-21)
    var(--padding-17);
  box-sizing: border-box;
}
.container {
  width: var(--width-);
  height: var(--height-);
  flex-shrink: 0;
}
.icon {
  width: 27px;
  height: 27px;
  position: relative;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4);
}
.memoryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.memory {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-32);
  font-weight: 400;
  font-family: inherit;
}
.anOptionalSecure {
  width: var(--width-227);
  position: relative;
  font-size: var(--fs-16);
  line-height: var(--lh-24);
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .memory {
    font-size: var(--fs-16);
    line-height: var(--lh-26);
  }
}
